extends layout

block title
    title #{post.title}

block content
    .post
        h2.post-title: a(href='#{url.post}/#{post.slug}') #{post.title}
        .post-info
            a.post-author(href='#{url.user}/#{post.author}')
                span.author-avatar(style='background-image: url(#{url.api}#{url.avatar}/#{post.author})')
                span.author-name #{post.author}
            span.post-date #{post.createDate}
            span.post-category
                | 收集在
                a(href='#{url.post}?category=#{post.categoryName}') #{post.categoryName}

        .post-content
            |!{post.html}
        .post-tags
            - each tag in post.tags
                a(href='#{url.post}?tag=#{tag}') ##{tag}

    .other-post
        - if (previous)
            .previous-post
                .desc 上一篇文章
                .title: a(title='#{previous.title}', href='#{url.post}/#{previous.slug}') #{previous.title}
                .author
                    a(href='#{url.user}/#{previous.author}')
                        img(src='#{url.api}/#{url.avatar}/#{previous.author}')
                        | #{previous.author}
                    span.post-date #{previous.createDate}
        - if (next)
            .next-post
                .desc 下一篇文章
                .title: a(title='#{next.title}', href='#{url.post}/#{next.slug}') #{next.title}
                .author
                    a(href='#{url.user}/#{next.author}')
                        img(src='#{url.api}/#{url.avatar}/#{next.author}')
                        | #{next.author}
                    span.post-date #{next.createDate}
block script
    script(type='text/javascript', src='#{assets.client}/js/highlight.pack.js')
    script(type='text/javascript', src='#{assets.client}/js/script.js')
    script.
        hljs.initHighlightingOnLoad();